<!-- Main container for Media Section -->
<div class="media-container">
  <h1>Media</h1>

  <!-- Individual card component -->
  <div class="card">
    <!-- Card Header -->
    <div class="card-head">Lorem ipsum - Media</div>

    <!-- Card Body -->
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim
      rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>

    <!-- Button with link to a resource -->
    <a href="https://www.example.com" class="card-btn" target="_blank">Discover More</a>
  </div>
</div>
